# Problem Set 3

## Step 1: Select data

In [1]:
# import packages we'll use here
import pandas as pd
import numpy as np
import scipy.optimize as opt
import time

In [2]:
# Read in the data
ps3_data = pd.read_stata('PS3_data.dta')
ps3_data.head(n=5)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,redpregovinc,hsex,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce
0,1,1967,1,Head,1200.0,2000.0,NaN,NaN,0,NaN,...,5614.0,1.0,2.0,52.0,46.0,1.0,2.0,8.0,8.0,0.0
1,2,1967,2,Head,0.0,0.0,NaN,NaN,0,NaN,...,0.0,1.0,2.0,56.0,57.0,1.0,2.0,3.0,3.0,0.0
2,3,1967,3,Head,0.0,0.0,NaN,NaN,0,NaN,...,0.0,1.0,2.0,77.0,64.0,1.0,2.0,NaN,3.0,0.0
3,4,1967,4,Head,1560.0,0.0,NaN,NaN,6,1.0,...,3280.0,1.0,2.0,45.0,44.0,1.0,2.0,8.0,5.0,0.0
4,5,1967,5,Head,2500.0,2000.0,NaN,NaN,3,1.0,...,7900.0,1.0,2.0,24.0,22.0,1.0,2.0,10.0,9.0,0.0

In [3]:
ps3_data.describe()

,id68,year,intid,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,hrace,...,redpregovinc,hsex,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce
count,123786.000000,123786.000000,123786.000000,123786.000000,123786.000000,9.023300e+04,48496.000000,123786.000000,90603.000000,123656.000000,...,1.237860e+05,123786.000000,80758.0,123786.000000,80758.000000,123786.000000,80758.000000,122809.000000,80091.000000,123786.000000
mean,1494.639475,1984.831273,3271.379429,1679.269897,633.026917,4.211505e+04,22026.289062,0.843771,1.098220,1.129731,...,3.012258e+04,1.233072,2.0,45.545547,41.390785,39.620201,55.346169,12.666091,12.720081,0.557690
std,838.901790,9.836212,2277.056058,1061.704712,878.422791,4.670424e+04,21336.107422,1.182829,0.356161,0.394627,...,4.588795e+04,0.422940,0.0,17.623671,14.786721,69.003265,77.864296,2.917721,2.422607,0.265198
min,1.000000,1967.000000,1.000000,0.000000,0.000000,6.353981e-01,1.192780,0.000000,1.000000,1.000000,...,-1.324040e+05,1.000000,2.0,16.000000,13.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,772.000000,1977.000000,1444.000000,832.000000,0.000000,1.979858e+04,8016.246948,0.000000,1.000000,1.000000,...,7.700000e+03,1.000000,2.0,31.000000,29.000000,1.000000,2.000000,12.000000,12.000000,0.362158
50%,1517.000000,1985.000000,2984.000000,1976.000000,0.000000,3.460022e+04,18122.412109,0.000000,1.000000,1.000000,...,1.900000e+04,1.000000,2.0,42.000000,39.000000,3.000000,3.000000,12.000000,12.000000,0.599887
75%,2224.000000,1993.000000,4763.000000,2350.000000,1454.000000,5.267309e+04,30256.060547,2.000000,1.000000,1.000000,...,3.910775e+04,1.000000,2.0,58.000000,51.000000,22.000000,170.000000,15.000000,14.000000,0.786908
max,2930.000000,2002.000000,16968.000000,7800.000000,5840.000000,3.771521e+06,856942.062500,11.000000,8.000000,8.000000,...,3.660000e+06,2.000000,2.0,102.000000,95.000000,227.000000,231.000000,17.000000,17.000000,0.928007

In [4]:
# Drop missing observations for income and hours and observations with hours =0
ps3_data = ps3_data[(ps3_data.hlabinc.isnull() != True ) & (ps3_data.hannhrs.isnull() != True ) & (ps3_data.hannhrs > 0)]

In [5]:
ps3_data = ps3_data[(ps3_data.hyrsed.isnull() != True) & (ps3_data.age.isnull() != True) & (ps3_data.hrace.isnull() != True)]

In [6]:
# Create log value of wage per hour
ps3_data['wage_h'] = ps3_data['hlabinc'] / ps3_data['hannhrs'] 
ps3_data['wage_h_log'] = np.log(ps3_data['wage_h'])

In [7]:
ps3_data.describe()

,id68,year,intid,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,hrace,...,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce,wage_h,wage_h_log
count,89498.000000,89498.000000,89498.000000,89498.000000,89498.000000,8.949800e+04,45290.000000,89498.000000,73685.000000,89498.000000,...,62588.0,89498.000000,62588.000000,89498.000000,62588.000000,89498.000000,62127.000000,89498.000000,89498.000000,89498.000000
mean,1510.806364,1986.300197,3515.972234,2071.899414,764.367310,4.217782e+04,21898.193359,0.951329,1.096872,1.123712,...,2.0,39.961285,38.244968,48.802029,65.589394,13.230061,13.029890,0.609379,20.665115,2.751252
std,834.731847,8.792725,2313.105097,751.059082,913.495239,4.677813e+04,20434.746094,1.168670,0.354704,0.390426,...,0.0,13.232885,12.209478,73.751038,81.103798,2.526080,2.224929,0.208693,24.843962,0.768142
min,1.000000,1971.000000,1.000000,1.000000,0.000000,6.353981e-01,1.192780,0.000000,1.000000,1.000000,...,2.0,17.000000,14.000000,1.000000,1.000000,1.000000,1.000000,0.247121,0.000204,-8.499092
25%,783.000000,1979.000000,1675.000000,1804.000000,0.000000,1.987883e+04,8042.066406,0.000000,1.000000,1.000000,...,2.0,29.000000,29.000000,1.000000,2.000000,12.000000,12.000000,0.421747,10.412615,2.343018
50%,1542.000000,1986.000000,3323.000000,2064.000000,80.000000,3.465334e+04,18120.386719,0.000000,1.000000,1.000000,...,2.0,38.000000,36.000000,4.000000,4.000000,12.000000,12.000000,0.614522,16.558403,2.806894
75%,2240.000000,1993.000000,5059.000000,2456.000000,1701.000000,5.275672e+04,30172.169922,2.000000,1.000000,1.000000,...,2.0,49.000000,46.000000,170.000000,170.000000,16.000000,15.000000,0.786908,24.736387,3.208275
max,2930.000000,2002.000000,16968.000000,7800.000000,5840.000000,3.771521e+06,417271.468750,11.000000,8.000000,3.000000,...,2.0,93.000000,91.000000,227.000000,231.000000,17.000000,17.000000,0.928007,1865.037964,7.531037

In [8]:
# Select only male heads of household who are between 25 and 60 years old and earn wages > $7/hr
ps3_data = ps3_data[(ps3_data.hsex ==1 ) & (ps3_data.age >= 25) & (ps3_data.age <= 60) & (ps3_data.wage_h > 7)]

In [9]:
ps3_data.describe()

,id68,year,intid,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,hrace,...,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce,wage_h,wage_h_log
count,57062.000000,57062.000000,57062.000000,57062.000000,57062.000000,5.706200e+04,37133.000000,57062.000000,51693.000000,57062.000000,...,49775.0,57062.000000,49775.000000,57062.000000,49775.000000,57062.000000,49425.000000,57062.000000,57062.000000,57062.000000
mean,1507.470558,1986.575672,3480.375311,2228.557617,991.441406,5.282805e+04,23073.908203,1.173566,1.086298,1.101416,...,2.0,39.243629,37.327675,58.632908,68.006027,13.529967,13.209712,0.616109,24.320921,3.010804
std,828.361439,8.712311,2253.229068,620.054077,926.178162,5.236477e+04,20998.779297,1.216918,0.343691,0.369015,...,0.0,9.578858,9.566348,78.453896,81.718880,2.450013,2.163211,0.206353,25.209909,0.544096
min,1.000000,1971.000000,1.000000,2.000000,0.000000,1.666980e+01,1.192780,0.000000,1.000000,1.000000,...,2.0,25.000000,16.000000,1.000000,1.000000,1.000000,1.000000,0.247121,7.000252,1.945946
25%,782.000000,1979.000000,1690.000000,1952.000000,0.000000,3.037345e+04,8895.574219,0.000000,1.000000,1.000000,...,2.0,31.000000,30.000000,1.000000,2.000000,12.000000,12.000000,0.421747,13.950662,2.635527
50%,1542.000000,1987.000000,3296.000000,2160.000000,953.299988,4.382858e+04,19498.349609,1.000000,1.000000,1.000000,...,2.0,38.000000,36.000000,4.000000,4.000000,13.000000,12.000000,0.635834,19.914677,2.991457
75%,2225.000000,1994.000000,5002.000000,2519.000000,1900.000000,6.138495e+04,31769.908203,2.000000,1.000000,1.000000,...,2.0,47.000000,44.000000,170.000000,170.000000,16.000000,15.000000,0.803488,27.790929,3.324710
max,2930.000000,2002.000000,16968.000000,5840.000000,5840.000000,3.771521e+06,417271.468750,11.000000,8.000000,3.000000,...,2.0,60.000000,70.000000,227.000000,230.000000,17.000000,17.000000,0.928007,1717.330322,7.448526

In [10]:
ps3_data.head(n=5)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,wsex,age,wage,hpersno,wpersno,hyrsed,wyrsed,pce,wage_h,wage_h_log
11161,402,1971,1,Head,1523.0,0.0,62928.707031,NaN,0,1.0,...,2.0,51.0,48.0,1.0,2.0,12.0,12.0,0.247121,41.318916,3.721320
11164,461,1971,4,Head,2010.0,0.0,22660.970703,NaN,0,1.0,...,2.0,55.0,54.0,1.0,2.0,5.0,5.0,0.247121,11.274115,2.422509
11166,1126,1971,8,Head,2860.0,0.0,29337.865234,NaN,1,NaN,...,2.0,25.0,24.0,1.0,2.0,16.0,12.0,0.247121,10.257995,2.328057
11173,284,1971,20,Head,2400.0,0.0,76885.437500,NaN,2,1.0,...,2.0,39.0,36.0,1.0,2.0,16.0,12.0,0.247121,32.035599,3.466848
11175,50,1971,29,Head,3164.0,2000.0,31968.156250,28326.214844,3,1.0,...,2.0,36.0,31.0,1.0,2.0,12.0,12.0,0.247121,10.103716,2.312903

## Step 2: Create variables

In [11]:
# Create three dummy variables. 1 means true, 0 means false
ps3_data['Black'] = ps3_data.loc[:,'hrace'].apply(lambda x : 1 if x == 2 else 0)
ps3_data['Hispanic'] = ps3_data.loc[:,'hrace'].apply(lambda x : 1 if x == 5 else 0)
ps3_data['OtherRace'] = ps3_data.loc[:,'hrace'].apply(lambda x : 1 if x == 3 or x == 4 or x == 6 or x == 7 else 0)

In [12]:
ps3_data.head(n=5)

,id68,year,intid,relhh,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,...,hpersno,wpersno,hyrsed,wyrsed,pce,wage_h,wage_h_log,Black,Hispanic,OtherRace
11161,402,1971,1,Head,1523.0,0.0,62928.707031,NaN,0,1.0,...,1.0,2.0,12.0,12.0,0.247121,41.318916,3.721320,0,0,0
11164,461,1971,4,Head,2010.0,0.0,22660.970703,NaN,0,1.0,...,1.0,2.0,5.0,5.0,0.247121,11.274115,2.422509,0,0,0
11166,1126,1971,8,Head,2860.0,0.0,29337.865234,NaN,1,NaN,...,1.0,2.0,16.0,12.0,0.247121,10.257995,2.328057,0,0,0
11173,284,1971,20,Head,2400.0,0.0,76885.437500,NaN,2,1.0,...,1.0,2.0,16.0,12.0,0.247121,32.035599,3.466848,0,0,0
11175,50,1971,29,Head,3164.0,2000.0,31968.156250,28326.214844,3,1.0,...,1.0,2.0,12.0,12.0,0.247121,10.103716,2.312903,0,0,0

## Step 3: Estimate MLE

In [13]:
ps3_data['constant'] = 1
ps3_data = ps3_data[(ps3_data['year'] == 1971)]

In [14]:
ps3_data.describe()

,id68,year,intid,hannhrs,wannhrs,hlabinc,wlabinc,nochild,wrace,hrace,...,wpersno,hyrsed,wyrsed,pce,wage_h,wage_h_log,Black,Hispanic,OtherRace,constant
count,1380.000000,1380.0,1380.000000,1380.000000,1380.000000,1380.000000,727.000000,1380.000000,1012.000000,1380.000000,...,1284.000000,1380.000000,1272.000000,1380.000000,1380.000000,1380.000000,1380.000000,1380.0,1380.000000,1380.0
mean,1520.844928,1971.0,2484.165942,2239.666748,654.630432,46228.089844,15088.083984,1.594928,1.077075,1.120290,...,17.131620,12.210145,11.988208,0.247122,21.360428,2.936990,0.066667,0.0,0.026812,1.0
std,838.157827,0.0,1403.973525,635.049377,817.565491,27814.853516,12095.452148,1.540030,0.314484,0.399448,...,47.952663,3.074726,2.322334,0.000001,13.763299,0.471703,0.249534,0.0,0.161591,0.0
min,1.000000,1971.0,1.000000,71.000000,0.000000,590.803894,36.419418,0.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,0.247121,7.003735,1.946444,0.000000,0.0,0.000000,1.0
25%,795.500000,1971.0,1313.750000,1946.250000,0.000000,29916.529297,4451.262207,0.000000,1.000000,1.000000,...,2.000000,11.000000,11.000000,0.247121,13.691573,2.616780,0.000000,0.0,0.000000,1.0
50%,1569.500000,1971.0,2399.000000,2136.000000,80.000000,40901.029297,13353.787109,1.000000,1.000000,1.000000,...,2.000000,12.000000,12.000000,0.247121,18.630970,2.924825,0.000000,0.0,0.000000,1.0
75%,2251.250000,1971.0,3695.500000,2501.000000,1440.000000,56652.429688,23569.432617,2.000000,1.000000,1.000000,...,2.000000,14.000000,12.000000,0.247121,25.181152,3.226096,0.000000,0.0,0.000000,1.0
max,2927.000000,1971.0,5057.000000,5140.000000,3000.000000,396567.000000,60699.031250,11.000000,3.000000,3.000000,...,181.000000,17.000000,17.000000,0.247121,230.959808,5.442244,1.000000,0.0,1.000000,1.0

In [23]:
# Assuming normal distribution of the error term, the log-likelihood function below is given by the book of Hayashi
def loglike(params, x, y):
    
    beta = np.array([[params[0]], [params[1]], [params[2]], [params[3]], [params[4]], [params[5]]], dtype = np.float64)
    
    x = np.array([ps3_data['constant'], ps3_data['hyrsed'], ps3_data['age'], 
                  ps3_data['Black'], ps3_data['Hispanic'], ps3_data['OtherRace']]).T
    
    y = np.array([ps3_data['wage_h_log']]).T
      
    sigma = np.dot((y - np.dot(x, beta)).T, y - np.dot(x, beta)) / len(ps3_data.index)
    
    params = [alpha, beta1, beta2, beta3, beta4, beta5]
    
    log_like = (- (-(1 / 2) * len(ps3_data.index) * np.log(2 * (np.pi)) - len(ps3_data.index) * np.log(sigma) - 
                  (1 / 2) * np.dot((y - np.dot(x, beta)).T, y - np.dot(x, beta)) / ((sigma) ** 2))).item((0,0))
    
    return log_like

In [24]:
# Initial guesses at the parameter values
alpha, beta1, beta2, beta3, beta4, beta5 = 10, 30, 20, 10, 50, 60
params = [alpha, beta1, beta2, beta3, beta4, beta5]
params_initial = (0.1, -0.1, 0.2, -0.1, 0.6, 0.5)


# Set bounds on parameters
bnds = ([-np.inf, -np.inf, -np.inf, -np.inf, -np.inf, -np.inf],
        [np.inf, np.inf, np.inf, np.inf, np.inf, np.inf,])

# Call minimzer to minimize the log-likelihood function
mle_results = opt.minimize(loglike, params_initial, args=(ps3_data,params),
                           method='SLSQP', options={'disp': True})

mle_results

Optimization terminated successfully.    (Exit mode 0)
            Current function value: 1691.5920666522225
            Iterations: 24
            Function evaluations: 237
            Gradient evaluations: 24

     fun: 1691.5920666522225
     jac: array([ -3.05175781e-05,  -1.55181885e-02,  -2.28881836e-03,
         9.15527344e-04,   0.00000000e+00,  -7.62939453e-05])
 message: 'Optimization terminated successfully.'
    nfev: 237
     nit: 24
    njev: 24
  status: 0
 success: True
       x: array([-0.78398846,  0.2207886 ,  0.02735338, -1.26450665,  0.6       ,
        0.33680603])

In [21]:
# Assuming normal distribution of the error term, the log-likelihood function below is given by the book of Hayashi
def loglike(params, x, y):
    
    beta = np.array([[params[0]], [params[1]], [params[2]], [params[3]], [params[4]], [params[5]]], dtype = np.float64)
    
    x = np.array([ps3_data['constant'], ps3_data['hyrsed'], ps3_data['age'], 
                  ps3_data['Black'], ps3_data['Hispanic'], ps3_data['OtherRace']]).T
    
    y = np.array([ps3_data['wage_h_log']]).T
    
    epsilon = y - np.dot(x, beta)
    
    essilon_s = np.dot(epsilon.T, epsilon)
    
    sigma = np.dot((y - np.dot(x, beta)).T, y - np.dot(x, beta)) / len(ps3_data.index)
    
    params = [alpha, beta1, beta2, beta3, beta4, beta5]
    
    log_like = (((len(ps3_data.index)/2) * np.log(2 * (np.pi))) + ((len(ps3_data.index))/2)* np.log((sigma**2)) +
                  (( essilon_s / ((sigma ** 2))/2))).item(0,0)
    
    return log_like

In [22]:
# Initial guesses at the parameter values
alpha, beta1, beta2, beta3, beta4, beta5 = 10, 30, 20, 10, 50, 60
params = [alpha, beta1, beta2, beta3, beta4, beta5]
params_initial = (0.1, -0.1, 0.2, -0.1, 0.6, 0.5)


# Set bounds on parameters
bnds = ([-np.inf, -np.inf, -np.inf, -np.inf, -np.inf, -np.inf],
        [np.inf, np.inf, np.inf, np.inf, np.inf, np.inf,])

# Call minimzer to minimize the log-likelihood function
mle_results = opt.minimize(loglike, params_initial, args=(ps3_data,params),
                           method='SLSQP', options={'disp': True})

mle_results

Optimization terminated successfully.    (Exit mode 0)
            Current function value: 1691.5920666519096
            Iterations: 24
            Function evaluations: 237
            Gradient evaluations: 24

     fun: 1691.5920666519096
     jac: array([  0.00000000e+00,  -1.44042969e-02,  -1.92260742e-03,
         8.69750977e-04,   0.00000000e+00,  -6.10351562e-05])
 message: 'Optimization terminated successfully.'
    nfev: 237
     nit: 24
    njev: 24
  status: 0
 success: True
       x: array([-0.77331193,  0.22022126,  0.02726916, -1.27459474,  0.6       ,
        0.33242833])

In [27]:
# Assuming normal distribution of the error term, the log-likelihood function below is given by the book of Hayashi
def loglike(params, x, y):
    
    beta = np.array([[params[0]], [params[1]], [params[2]], [params[3]], [params[4]]], dtype = np.float64)
    
    x = np.array([ps3_data['constant'], ps3_data['hyrsed'], ps3_data['age'], 
                  ps3_data['Black'], ps3_data['OtherRace']]).T
    
    y = np.array([ps3_data['wage_h_log']]).T
      
    sigma = np.dot((y - np.dot(x, beta)).T, y - np.dot(x, beta)) / len(ps3_data.index)
    
    params = [alpha, beta1, beta2, beta3, beta5]
    
    log_like = (- (-(1 / 2) * len(ps3_data.index) * np.log(2 * (np.pi)) - len(ps3_data.index) * np.log(sigma) - 
                  (1 / 2) * np.dot((y - np.dot(x, beta)).T, y - np.dot(x, beta)) / ((sigma) ** 2))).item((0,0))
    
    return log_like

In [28]:
# Initial guesses at the parameter values
alpha, beta1, beta2, beta3, beta5 = 10, 30, 20, 10, 60
params = [alpha, beta1, beta2, beta3, beta5]
params_initial = (0.1, -0.1, 0.2, -0.1, 0.5)


# Set bounds on parameters
bnds = ([-np.inf, -np.inf, -np.inf, -np.inf, -np.inf],
        [np.inf, np.inf, np.inf, np.inf, np.inf])

# Call minimzer to minimize the log-likelihood function
mle_results = opt.minimize(loglike, params_initial, args=(ps3_data,params),
                           method='SLSQP', options={'disp': True})

mle_results

Optimization terminated successfully.    (Exit mode 0)
            Current function value: 1691.5920669338898
            Iterations: 27
            Function evaluations: 232
            Gradient evaluations: 27

     fun: 1691.5920669338898
     jac: array([-0.00837708, -0.29574585, -0.12091064,  0.00164795, -0.00082397])
 message: 'Optimization terminated successfully.'
    nfev: 232
     nit: 27
    njev: 27
  status: 0
 success: True
       x: array([-0.35010973,  0.24773618,  0.00827656, -0.09116157,  0.36718122])

In [1]:
# Assuming normal distribution of the error term, the log-likelihood function below is given by the book of Hayashi
def loglike(params, x, y, year):
    
    beta = np.array([[params[0]], [params[1]], [params[2]], [params[3]], [params[4]], [params[5]]], dtype = np.float64)
    
    #n returns the sum of obs that have a value equal to the parameter year
    n = np.sum(ps3_data.year == year)
    
    #Note [set3['cons'][set3.year==year] >>>> This extract a portion of the data set
    # that has the column 'year' = to the parameter year, i.e. a portion of the matrix. 
    #The same for other columns...
    
    
    x = np.array([ps3_data['constant'][ps3_data.year == year], ps3_data['hyrsed'][ps3_data.year == year],
                  ps3_data['age'][ps3_data.year == year], ps3_data['Black'][ps3_data.year == year], 
                  ps3_data['Hispanic'][ps3_data.year == year], ps3_data['OtherRace'][ps3_data.year == year]]).T
    
    y = np.array([ps3_data['wage_h_log'][ps3_data.year == year]]).T
    
    epsilon = y - np.dot(x, beta)
    
    essilon_s = np.dot(epsilon.T, epsilon)
    
    sigma = np.dot((y - np.dot(x, beta)).T, y - np.dot(x, beta)) / n
    
    params = [alpha, beta1, beta2, beta3, beta4, beta5]
    
    log_like = (((n/2) * np.log(2 * (np.pi))) + ((n)/2)* np.log((sigma**2)) +
                  (( essilon_s / ((sigma ** 2))/2))).item(0,0)
    
    return log_like

In [ ]:
# Initial guesses at the parameter values
alpha, beta1, beta2, beta3, beta4, beta5 = 10, 30, 20, 10, 50, 60
params = [alpha, beta1, beta2, beta3, beta4, beta5]
params_initial = (0.1, -0.1, 0.2, -0.1, 0.6, 0.5)


# Set bounds on parameters
bnds = ([-np.inf, -np.inf, -np.inf, -np.inf, -np.inf, -np.inf],
        [np.inf, np.inf, np.inf, np.inf, np.inf, np.inf,])
# I tried to use the parameter year in the mle_results function, but it did not work. It seems we need to define it
# outside, similar to defining 
year=1971

# Call minimzer to minimize the log-likelihood function
mle_results = opt.minimize(loglike, params_initial, args=(set3,params,year),
                           method='SLSQP', options={'disp': True})

mle_results